*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    color: white;
    
}

body{
    background-color: #212121;
}

.zapati{
    background: linear-gradient(#CE0BA4, #00B2FF);
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Container{
    background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
    border-radius: 20px;
    border: 3px solid transparent; 
    margin: 20px;
    margin: 40px;
    padding: 20px;
}

h2{
    text-align: center;
    font-size: 40px;
}

h3,h4,h5{
    text-align: center;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 20px;
    margin: 0;
}

.img--responzive{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0; 
    padding: 0;
    object-fit: cover;
}



menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.Figure--foto--logo{
    height: 60px;
    width: 60px;
    margin:0;
    border-radius: 5px;
}
.title{
    margin: 0;
    font-size: 30px;
}
.title--nav{
    justify-self: center;
    align-self:center ;
}
.Button-nav{
    
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20%;
    text-decoration: none;
    
}

.hammenu{
    border-radius: 5px;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    padding: 20px;
    z-index: 100;
    background-color: #151515;
    align-items: flex-start;
}

.hammenu li{
    height: 50px;
    width: 100%;
}

.hammenu .Button-nav{
    display: block;
    width: 100%;
}

.hammenu .Logo{
    margin-bottom: 10px;
    height: fit-content;
}
.hammenu .Figure--foto--logo{
    width: 100%;
    height: auto;
}
.hammenu .Figure--foto--logo a img{
    border-radius: 20px;
}
.Button-nav:hover{
    background: linear-gradient(to right,#CE0BA4, #00B2FF) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
}


.NAV--menu{
    display: flex;
    align-items: center;
}
.NAV--menu .Button-nav{
    display: none;
}
.NAV--menu .title--nav{
    margin-left: auto;
    margin-right: auto;
}
.NAV--menu .Logo img{
    left: auto;
    border-radius: 5px;
}

.HAM--button{
    height: 60px;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    border-radius: 5px;
}







.GRU--dokumenty p{
    margin: 0;
    margin-top: 10px;
}


.CON--Servicies h1,p{
    text-align: center;
    
}

.CON--Servicies h1{
    font-size: 40px;
}
.nabidka--dole{
    display: grid;
}
.nabidka h3{
    font-size: 30px;
    text-align: center;
}
.nabidka--dole a{
    text-decoration: none;
    border-radius: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    font-size: 10px;
    align-self: center;
    justify-self: center;
    font-size: 30px;
}
.CON--obchodnipodminky{
    display: grid;
    background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #ff0000, #ff000020) border-box;
    border-radius: 20px;
    border: 3px solid transparent; 
}
.CON--obchodnipodminky a{
    background-color: #212121;
    border: 3px solid gray;
    color: gray;
    align-self: center;
    justify-self: center;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px; 
    text-decoration: none;
}

.CON--obchodnipodminkyPDF{
    background-image: url(../media/dokumnt\ obr\ obchodní\ podmínky.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid #ce0ba4;
    
}

.CON--spoluprace{
    background-image: url(../media/Default_two_shaking_hands_0.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid #00B2FF;
}

.CON--hledampraci{
    background-image: url(../media/Default_work_3.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid #ce0ba4;
    
}
.SEZ--fir{
    padding-left: 10px;
}
.SEZ--sec{
    padding-left: 10px;
}




@media only screen and (min-width: 750px) {
    
    .hammenu{
        display: none;
    }

    .HAM--button{
        display: none;
    }

    .NAV--menu{
        
        height: 40px;
        border-radius: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    
    .NAV--menu .Button-nav{
        padding:0;
        margin: 0;
        text-decoration: none;
        display: block;
        height: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 11vw;
        margin-left:10px ;
        margin-right: 10px;
        border-radius: 50px;

    }
    
    .hammenu{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin-left:auto ;
        background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    }

    .Logo img{
        left: auto;
        border-radius: 5px;
    }

    .title--nav{
        margin-left: auto;
        margin-right: auto;
    }
    

    .Button-nav:hover{
        background: linear-gradient(to right,#CE0BA4, #00B2FF) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
    }

}