@media only screen and (min-width: 600px) {















    .Conteiner--first{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 800px;
    }

    .Conteiner--flex{
        display: flex;
        justify-content: center;
    }

    .Figure--foto--one{
        
        background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
        border-radius: 20px;
        border: 4px solid transparent;
        width :80%;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        max-height: 700px;
    }

    .img--one{
        border-radius: 15px;
    }

    .Conteiner--first h2{
        text-align: center;
        margin: 0;
        justify-self: center;
    }

    .Conteiner--first h1{
        font-size: 70px;
        text-align: center;
        margin: 0;
        align-self: center;
        justify-self: center;
    }
    .Text-left-mainind{
        display: grid;
        grid-template-rows: 5fr 7fr 7fr;
        font-size: 30px;
        max-height: 700px;
    }
    .Button-1st-ind{
        align-self: center;
        justify-self: center;
    }

    .Button-1st{
        text-decoration: none;
        border-radius: 30px;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 20px;
        padding-bottom: 20px;
        background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
        font-size: 60px;
        margin-right: 20px;
    }




    .Conteiner--first{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        
    }

    .Conteiner--flex{
        display: flex;
        justify-content: center;
    }

    .Figure--foto--one{
        
        background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
        border-radius: 20px;
        border: 4px solid transparent;
        width :80%;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .img--one{
        border-radius: 15px;
    }

    .Conteiner--first h2{
        text-align: center;
        margin: 0;
        justify-self: center;
    }

    .Conteiner--first h1{
        text-align: center;
        margin: 0;
        align-self: center;
        justify-self: center;
        font-size: 30px;
    }
    .Text-left-mainind{
        display: grid;
        grid-template-rows: 5fr 7fr 7fr;
        font-size: 20px;
    }
    .Button-1st-ind{
        align-self: center;
        justify-self: center;
    }

    .Button-1st{
        text-decoration: none;
        border-radius: 10px;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 10px;
        padding-bottom: 10px;
        background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
        font-size: 30px;
    }


}



*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}



.img--responzive{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0; 
    padding: 0;
    object-fit: cover;
}
figure{
    margin: 0; 
    padding: 0;
}
.Button-nav{
    display: none;
}



body {
    background-color: #212121;
    color: white;
}
a{
    color: white;
}
.Container{
    background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
    border-radius: 20px;
    border: 4px solid transparent; 
    margin: 20px;
    margin: 40px;
}

.Tittle--container{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 20px
}
footer{
    background: linear-gradient(#CE0BA4, #00B2FF);
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.img--logo{
    border-radius: 5px;
}

.Figure--foto--logo{
    height: 40px;
    width: 40px;
}
menu li{
    list-style-type: none;
    align-self: center;
}
menu{
    display: grid;
    grid-template-columns: minmax(.5fr,1fr) minmax(.5fr,1.5fr) minmax(0fr,1fr) minmax(0fr,1fr) minmax(0fr,1fr) ;
    margin: 0;
    padding: 0;
    grid-auto-flow: column;
    
}
nav{
    padding: 10px;
    
}
nav p {
    margin: 0;
}
.Button-nav{
    
    margin: 0;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    text-decoration: none;
    
}
.title{
    font-size: 25px;
}





.Figure--foto--logo{
    height: 40px;
    width: 40px;
}
menu li{
    list-style-type: none;
}
menu{
    display: grid;
    padding: 0;
    margin: 0;
    align-items: center;
}
nav{
    padding: 10px;
    
}
nav p {
    margin: 0;
}








.Conteiner--flex{
    display: flex;
    justify-content: center;
}

.Figure--foto--one{
    
    background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
    border-radius: 20px;
    border: 4px solid transparent;
    width :80%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.img--one{
    border-radius: 15px;
}

.Conteiner--first h2{
    text-align: center;
    margin: 0;
    justify-self: center;
}

.Conteiner--first h1{
    text-align: center;
    margin: 0;
    align-self: center;
    justify-self: center;
    font-size: 30px;
}
.Text-left-mainind{
    display: grid;
    grid-template-rows: 5fr 7fr 7fr;
    font-size: 20px;
}
.Button-1st-ind{
    align-self: center;
    justify-self: center;
}

.Button-1st{
    text-decoration: none;
    border-radius: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    font-size: 30px;
}








.Figure--foto--two{
    
    background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
    border-radius: 20px;
    border: 4px solid transparent;
    width :90%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.img--two{
    border-radius: 15px;
}



.Text-left-secind{
    width: 90%;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    text-align: center;
}

.Conteiner--sec--buying{
    display: grid;
    grid-template-rows: 5fr 5fr;
    width: 90%;
    
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.Conteiner--sec--buying--text{
    font-size: 30px;
    margin: 0;
    justify-self: center;
    align-self: center;
}
.Button-2st{
    text-decoration: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    font-size: 30px;
    justify-self: center;
    align-self: center;
}

.Conteiner--thr p{
    text-align: center;
    font-size: 30px;
    margin: 20px;
}

.wrapper{
    display: flex;
    overflow-x: scroll;
}
.Conteiner--sec--buying--text{
    text-align: center;
}
.Button-220{
    text-decoration: none;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    font-size: 30px;
    justify-self: center;
    
}




.nabidka--220{
    padding: 10px;
}
.nabidka--120{
    padding: 10px;
}
.nabidka--60{
    padding: 10px;
}

