

body{
    background-color: #212121;
    margin: 0;
    width: 100vw;
}

.zapati{
    background: linear-gradient(#CE0BA4, #00B2FF);
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}
.zapati ul{
    padding-left: 10px;
    list-style: none;
    margin-right: 30px;
}
.zapati ul li{
    margin-bottom: 10px;
}

.Container{
    background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
    border-radius: 20px;
    border: 3px solid transparent; 
    margin: 20px;
    margin: 40px;
    padding: 20px;
}
p{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 40px;
}

h3,h4,h5{
    text-align: center;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 20px;
    margin: 0;
}

.img--responzive{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0; 
    padding: 0;
    object-fit: cover;
}

.img--border{    
    background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
    border-radius: 20px;
    border: 4px solid transparent;
    width :80%;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.img--borderradius{
    border-radius: 15px;
}







menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.Figure--foto--logo{
    height: 60px;
    width: 60px;
    margin:0;
    border-radius: 5px;
    left: auto;
}
.title{
    margin: 0;
    font-size: 25px;
}
.title--nav{
    justify-self: center;
    align-self:center ;
}
.Button-nav{
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    
}



.HAM--menu{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    z-index: 10;
    top: 0;
    left: 0;
    padding-top: 7em;
}


.Button-nav:hover{
    background: linear-gradient(to right,#CE0BA4, #00B2FF) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
}


.img--logo{
    border-radius: 5px;
}

.NAV--menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NAV--menu .title--nav{
    margin-left: auto;
    margin-right: auto;
}


.HAM--button{
    height: 60px;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    border-radius: 5px;
}

.HAM--close{
    position: absolute;
    top: 2em;
    right: 2em;
    width: 50px;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    border-radius: 5px;
} 





.GRU--dokumenty .TIT--doc{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.GRU--dokumenty .TXT--doc{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.GRU--dokumenty p{
    margin: 0;
    padding: 5px;
    background-color: #000000a4;
}

.GRU--dokumenty a{
    text-decoration: none;
}

.CON--Servicies h1,.CON--Servicies p{
    text-align: center;
    
}

.CON--Servicies h1{
    font-size: 40px;
}
.nabidka--dole{
    display: grid;
}
.nabidka h3{
    font-size: 30px;
    text-align: center;
}
.nabidka--dole a{
    text-decoration: none;
    border-radius: 10px;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    font-size: 10px;
    align-self: center;
    justify-self: center;
    font-size: 30px;
    font-weight: 700;
    transition: 0.3s;
}
.nabidka--dole a:hover{
    color: #151515;
}
.CON--obchodnipodminky{
    display: grid;
    background: linear-gradient(#151515, #151515) padding-box,linear-gradient(to right, #ff0000, #6b0000) border-box;
    border-radius: 20px;
    border: 3px solid transparent; 
}
.CON--obchodnipodminky a{
    background-color: #212121;
    border: 3px solid gray;
    color: gray;
    align-self: center;
    justify-self: center;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px; 
    text-decoration: none;
    transition: 0.3s;
}
.CON--obchodnipodminky a:hover{
    background-color: gray;
    border: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
.CON--obchodnipodminkyPDF{
    background-image: url(../media/dokumnt-obr-obchodní-podmínky.avif);
    background-size: cover;
    background-position: center;
    border: 3px solid #ce0ba4;
    
}

.CON--spoluprace{
    background-image: url(../media/Default_two_shaking_hands_0.avif);
    background-size: cover;
    background-position: center;
    border: 3px solid #00B2FF;
}

.CON--hledampraci{
    background-image: url(../media/Default_work_3.avif);
    background-size: cover;
    background-position: center;
    border: 3px solid #ce0ba4;
    
}
.SEZ--fir{
    padding-left: 20px;
}
.SEZ--sec{
    padding-left: 10px;
}

.SEZ--fir li{
    margin-bottom: 10px;
}
.SEZ--sec{
    margin-top: 10px;
}

.CON--ZAM--ondrej p{
    text-align: center;
}

.CON--ZAM--jozef p{
    text-align: center;
}

.CON--codelame p{
    text-align: center;
}


.img--ondrej{
    aspect-ratio: 1/1;
}
.img--jozef{
    aspect-ratio: 1/1;
}


.Tittle--container{
    font-size: 30px;
    font-weight: 500;
}
.TIT--under{
    font-size: 20px;
}
.GRU--dokumenty .TIT--doc{
    font-size: 2rem;
}

.CON--pay{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;

}

.Name-inputs{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    box-sizing: border-box;
    
}

.Card--inputs{
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

input{
    color:black;
    font-size: 1.1em;
    padding-left:10px; 
    width: calc(100% - 20px);
    border-radius: 25px;
    background: linear-gradient(#ffffff, #ffffff) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
    border: 2px solid transparent;
}
label{
    padding-left: 10px;
    font-weight: 700;
    margin-top: 10px;
}

.cislokarty--lable{
    grid-area: 1/1/2/3;
}
.cislokarty{
    grid-area: 2/1/3/3;
}
.CVV{
    grid-area: 4/1
}
.TIT--pay{
    margin:0;
    margin-top: 0.3em;
    font-size: 2.5em;
}
.payment--button{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 100%;
    height:80%;
    margin-top: 10px; 
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}


.CON--gallerie p{
    margin: 0;
}

.img--gallery{
    aspect-ratio: 1/1;
}

.TIT--codelame{
    font-size: 30px;
    font-weight: 700;
}

.codelame--textole{
    display: grid;
    grid-template-columns: max-content 1fr;
    height: 3em;
}

.codelame--textole .codelame--text{
    text-align: right;
    font-size: 20px;
    margin: 0;
    align-self: center;
    margin-right: 1em;
}

.codelame--textole a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    border-radius: 20px;
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    max-width: 500px;
}
.oursevice--text{
    margin: 0;
}

.CON--index--contejner{
    display: grid;
    grid-template-rows: 400px 1fr;

}
.CON--index--contejner a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    border-radius: 20px;
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
    height: 50px;
}

.vyhody li{
    margin-bottom: 10px;
}

.img--main--foton--1{
    object-position: top;
}







@media only screen and (min-width: 750px) {
    
    .zapati{
        background: linear-gradient(#CE0BA4, #00B2FF);
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
    }
    
    .CON--Servicies h1 {
        font-size: 70px;
    }

    .CON--Servicies{
        font-size: 30px;
    }

    p{
        font-size: 16px;
        text-align: center;
    }
    .GRU--dokumenty p{
        font-size: 1rem;
    }

    h2{
        font-size: 40px;
        margin: 0;
        margin-bottom: 10px;
    }

    h3{
        font-size: 30px;
        margin: 0;
        margin-bottom: 10px;
    }

    h4{
        font-size: 30px;
        margin: 0;
        margin-bottom: 10px;
    }

    li{
        font-size: 20px;
    }
    .SEZ--fir{
        padding-left: 30px; 
    }

    .GRU--nabidky{
        display: flex;
        justify-content: center;
    }

    .nabidka{
        width: 24vw;
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }
    .nabidka--dole a{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .nabidka h3{
        font-size: 50px;
    }

    .Tittle--container{
        font-size: 50px;
        margin-bottom:20px; 
        margin: 20px;
    }




    .HAM--close{
        display: none;
    }



    .hammenu{
        display: none;
    }

    .HAM--button{
        display: none;
    }

    .NAV--menu{
        
        height: 40px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .HAM--menu{
        display: flex;
        background-color: transparent;
        position: static;
        padding: 0;
        width: auto;
        height: auto;
        top: auto;
        left: auto;
        
    }
    
    .NAV--menu a{
        font-size: 25px;
    }
    
    .NAV--menu .Button-nav{
        padding:0;
        margin: 0;
        text-decoration: none;
        display: block;
        height: 50px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 11vw;
        margin-left:10px ;
        margin-right: 10px;
        border-radius: 50px;
    }
    
    .hammenu{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        margin-left:auto ;
        background: linear-gradient(0.12turn, #CE0BA4, #00B2FF);
    }

    .Logo img{
        left: auto;
        border-radius: 5px;
    }

    .title--nav{
        margin-left: auto;
        margin-right: auto;
    }
    

    .Button-nav:hover{
        background: linear-gradient(to right,#CE0BA4, #00B2FF) padding-box,linear-gradient(to right, #CE0BA4, #00B2FF) border-box;
    }












    .GRU--dokumenty{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 40px;
        width: 100%;
    }
    .CON--obchodnipodminkyPDF{
        margin: 10px;
        margin-left: 30px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .CON--spoluprace{
        margin: 10px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .CON--hledampraci{
        margin: 10px;
        margin-right: 30px;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    

    .CON--ZAM--ondrej{
        display: grid;
        grid-template-columns: 1fr 300px;
        
    }
    
    .CON--ZAM--ondrej p, .CON--ZAM--ondrej h3{
        text-align: left;
    } 
    .CON--ZAM--jozef p, .CON--ZAM--jozef h3{
        text-align: left;
    } 
    .CON--ZAM--jozef{
        display: grid;
        grid-template-columns: 1fr 300px;
    }


    .TIT--servis{
        font-size: 30px;
        font-weight: 400;
    }
    .TIT--zivotaspe{
        font-size: 20px;
        font-weight: 300;
    }
    .CON--pay{
        width: 750px;
    }
    .Payment--main{
        display: flex;
        justify-content: center;
    }


    .GRI--gallerie{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 40px;
        gap: 20px;
    }
    
    
    .img--gallery{
        height: 100%;
        margin: 0;
        width: auto;
    }


    .CON--codelame{
        display: grid;
        grid-template-columns: 1fr 300px;
        
    }
    
    .CON--codelame p{
        text-align: left;
    } 

    .img--vislic{
        grid-area: 1/2/3/3;
    }

    .oursevice--text{
        font-size: 2em;
        margin: 0;
    }




    .CON--index--contejner{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .CON--index--contejner div{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .img--main--foton--1{
        max-height: 600px;
    }

    


}